
<div [ngClass]="'row'">
    <div [ngClass]="'col-8'">
       <!-- <input type="text" [(ngModel)]="comment" [mention]="items"  /> -->
       <input type="text" [mention]="items" [mentionConfig]="{triggerChar:'@',maxItems:10,labelKey:'name'}" [(ngModel)]="comment" name="mention" #mention> 
    </div>
    <div [ngClass]="'col-4'">
        <button [ngClass]="'btn'" (click)="post(mention.value)"><fa-icon [icon]="farComment"></fa-icon> Comment</button>
    </div>
</div>


<hr />

    <div *ngFor="let comments of postComment" [ngClass]="'row commentRow'">
        <div [ngClass]="'col-8'"><fa-icon [icon]="fasComment"></fa-icon> {{comments}}</div><div [ngClass]="'col-4'"><p> System - <span [innerHtml]="commentDateTime"></span></p></div>

    </div>
